.drop-menu {
  position: fixed;
  top: -63px;
  z-index: 5;
  width: 100vw;
  margin: 0;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: #fff;
  text-align: left;
  transition: top 0.5s;
}

.drop-menu.active {
  top: 63px;
}

.drop-menu li.link a:hover {
  color: dodgerblue;
}

/* style active links */

/* hide drop menu no matter wat when resized */