.drop-menu {
  position: fixed;
  top: -63px;
  z-index: 5;
  width: 100vw;
  margin: 0;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: #fff;
  text-align: left;
  transition: top 0.5s;
  box-shadow: 0 0 5px rgba(0,0,0,.12);
}

.drop-menu li.link a.active,
.drop-menu li.link a:hover {
  color: dodgerblue;
}

/* hide drop menu if active when max-width increases */
@media (max-width: 470px) {
  .drop-menu {
    visibility: hidden;
  }
  .drop-menu.active {
    visibility: visible;
    top: 63px;
  }
}