main, .upload{
  width: 90%;
  max-width: 1025px;
  margin: auto;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding:1em;
}

.main-header h3 {
  margin: 0;
  padding: 0;
  text-align: left;
}
.main-header h3 span {
  margin-left: 5px;
  font-size: 14px;
}

.sort {
  width: 150px;
}
.sort select {
  font-size: 12px;
}
