nav {
  background: #fff;
  top:0;
  width: 100%;
  transition:all 0.5s;
  position: fixed;
  z-index: 10;
  font-size: 16px;
}

.nav-links {
  width: 90vw;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-links li {
  flex:1;
  text-align: center;
}

.nav-links li:last-of-type {
  flex: 2;
}

.logo {
  font-weight: 600;
  font-size: 30px;
  text-transform: uppercase;
}

