nav {
  background: #fff;
  top:0;
  width: 100%;
  transition:all 0.5s;
  position: relative;
  z-index: 1;
}

.nav-links {
  display: flex;
}

.nav-links li {
  flex:1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-weight: 600;
  font-size: 30px;
  text-transform: uppercase;
}