nav {
  background: #fff;
  top:0;
  width: 100%;
  transition:all 0.5s;
  position: fixed;
  z-index: 1000;
  font-size: 16px;
  display: flex;
  justify-content: center;
}

.nav-links {
  width: 90vw;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-links li {
  flex:1 2;
  text-align: center;
}

.nav-links li:last-of-type {
  flex: 2;
}

.nav-links li.hamburger {
  max-width: 0;
  overflow: hidden;
  transition: all 0.5s;
}

.nav-links button.menu {
  background: #fff;
  border: 0;
}

.nav-links li.logo {
  max-width: 200px;
  transition: all 0.5s;
}

.nav-links li.logo h1 {
  min-width: 158px;
  margin: 15px 0 15px 0;
  background: #fff;
  font-weight: 600;
  font-size: 30px;
  text-transform: uppercase;
}

li.link {
  max-width: 100px;
}

@media (max-width: 470px) { 
  .nav-links li.hamburger {
    min-width: 40px;
    max-width: 40px;
  }
  .nav-links li.link {
    max-width: 0;
    overflow: hidden;
  }
}

@media (max-width: 640px) { 
  .nav-links li.logo {
    max-width: 0;
    overflow: hidden;
  }
}

@media (max-width: 895px) { 
  li.link {
    max-width: 90px;
  }
  .nav-links li.logo h1 {
    font-size: 28px;
  }
}
